<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/global/style/ace.css">
    <link rel="stylesheet" href="/global/style/layout.css">
    <link rel="stylesheet" href="/register/style/index.css">
</head>
<body>
    <div class="page-layout">
        <div class="header row">
            <div class="wrapper wrapper-outer">
                <div class="pull-left">
                    <img class="logo" src="http://demo.cssmoban.com/cssthemes5/cpts_1395_cfc/image/demo/logos/theme_logo.png" alt="logo">
                </div>
                <div class=""></div>
            </div>
        </div>
        <div class="container">
            <div class="wrapper wrapper-outer">
                <div class="pull-left">
                    <img class="login-img" src="https://activity.huaweicloud.com/content/dam/cloudbu-site/archive/china/zh-cn/banner/login/1229-shipinzhibo.png" alt="alt">
                </div>
                <div class="pull-right">
                    <div class="login-box">
                        <h5 class="login-box-header">注册账号</h5>
                        <div class="login-box-form">
                            <div class="alert-box" id="alertBox">
                                <div class="close" data-methods="close">×</div>
                                <div class="alert-body"></div>
                            </div>
                            <form action="javascript: void(0);" id="form">
                                <div class="input-file input-file-icon">
                                    <label class="input-icon"><img src="https://as.zbjimg.com/static/nodejs-zbj-account-web/widget/accountRegContent/images/iphone_9512af0.png"></img></label>
                                    <input class="input-file-text" name="phone" type="text" placeholder="请输入常用的手机号" >
                                </div>
                                <div class="input-file input-file-icon input-file-button">
                                    <label class="input-icon"><img src="https://as.zbjimg.com/static/nodejs-zbj-account-web/widget/accountRegContent/images/dynamicCode_932bf1b.png"></img></label>
                                    <input class="input-file-text" name="code" type="text" placeholder="输入6位动态码" >
                                    <span class="input-button" id="msgBtnTxt">获取动态码</span>
                                </div>
                                <div class="input-file input-file-icon">
                                    <label class="input-icon"><img src="https://as.zbjimg.com/static/nodejs-zbj-account-web/widget/accountRegContent/images/password_542b2f0.png"></img></label>
                                    <input class="input-file-text" name="pwd" type="password" placeholder="密码（6-16位字母/数字/符号）" >
                                </div>
                                <div class="input-file input-file-icon">
                                    <label class="input-icon"><img src="https://as.zbjimg.com/static/nodejs-zbj-account-web/widget/accountRegContent/images/password_542b2f0.png"></img></label>
                                    <input class="input-file-text" name="confirm-pwd" type="password" placeholder="确认密码" >
                                </div>
                                <div class="input-file">
                                    <sapn class="login-submit" id="loginSubmit">同意协议并注册</sapn>
                                </div>
                                <div class="row ">
                                    <div class="pull-left color-tip"><a href="javascript: void(0);" class="promise">《服务协议》</a></div>
                                    <div class="pull-right color-tip">已有账号？&nbsp;<a href="/login" class="login-register">登录</a></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer"></div>
    </div>
</body>
<script src="/global/js/jquery-1.11.3.min.js"></script>
<script src="/global/js/utils.js"></script>
<script src="/register/js/index.js"></script>
</html>