html, body{
    background: #f1f1f1;
}
.page-layout{
    position: relative;
    padding-top: 60px;
    padding-bottom: 150px;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 1px 0 3px #ddd;
    padding: 12px 0;
    height: 60px;
    z-index: 11;
}
.header .logo{
    height: 36px;
    width: auto;
}
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: #fff;
    z-index: 10;
    border-top: 1px solid #ddd;
    box-shadow: 1px 0 3px #ddd;
}