<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/global/style/ace.css">
    <link rel="stylesheet" href="./style/index.css">
</head>
<body>
    <div class="wrapper">
        <!-- background zIndex 1 -->
        <div class="bg-image">
            <img src="./image/bg1280x788.jpg" alt="">
        </div>
        <!-- intro zIndex2 -->
        <div class="intro" id="intro">
            <div class=""></div>
            <div class="center-title color-white">
                <div class="big-title">DAVID SMITH</div>
                <div class="small-title">I'm Web Developer</div>
            </div>
        </div>
        <!-- container zIndex3 -->
        <div class="container">
            <div class="menu-icon"></div>
            <!-- column-1 -->
            <div class="container-column row column-1">
                <div class="col-lg-12">
                    <h1>David Smith</h1>
                    <h4>I'm Web Developer</h4>
                    <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit libero ac accumsan lobortis. Nam sem lacus, vulputate ut turpis vel, viverra porta ante. Pellentesque a ornare libero. Aenean sed ipsum a lectus volutpat dictum non non
                            neque. Nunc sit amet felis non velit consequat venenatis id eu dui.
                    </div>
                    <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit libero ac accumsan lobortis. Nam sem lacus, vulputate ut turpis vel, viverra porta ante. Pellentesque a ornare libero. Aenean sed ipsum a lectus volutpat dictum non non
                            neque. Nunc sit amet felis non velit consequat venenatis id eu dui.
                    </div>
                </div>
            </div>
            <!-- column-2 -->
            <div class="container-column column-2">
                <div class="col-lg-6 col-ms-12">
                    <div class="avatar">
                        <img src="./image/avatar500x680.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-ms-12">
                    <h3>EXPERTISE</h3>
                    <h5>HTML / CSS3</h5>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-danger" style="width: 90%"></div>
                    </div>
                    <h5>HTML / CSS3</h5>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-danger" style="width: 90%"></div>
                    </div>
                </div>
            </div>
            <!-- column-3 -->
            <div class="container-column column-3">
                <div class="col-lg-12">
                    <div class="col-lg-4 col-md-12">
                        <div class="count h2 color-white">
                            <i class=""></i>22
                        </div>
                        <p class="direction h5 color-white f-w-b">CUSTOMERS</p>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="count h2 color-white">
                            <i class=""></i>22
                        </div>
                        <p class="direction h5 color-white f-w-b">CUSTOMERS</p>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="count h2 color-white">
                            <i class=""></i>22
                        </div>
                        <p class="direction h5 color-white f-w-b">CUSTOMERS</p>
                    </div>
                </div>
            </div>
            <!-- column-4 -->
            <div class="container-column column-4">
                <div class="col-lg-12">
                    <h2>RECENT WORK</h2>
                    <hr>
                    <div class="row p-r-15">
                        <div class="col-lg-6 col-ms-6 col-xs-12 m-b-15 p-r-0">
                            <div class="handle p-r">
                                <img src="./image/project_1.jpg" alt="">
                                <div class="content">
                                    <h2 class="m-t-0 m-b-0 color-white name t-a-c">PROJECT1</h2>
                                    <p class="direction color-white f-s-12 t-a-c">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit libero ac accumsan lobortis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-ms-6 col-xs-12 m-b-15 p-r-0">
                            <div class="handle p-r">
                                <img src="./image/project_1.jpg" alt="">
                                <div class="content">
                                    <h2 class="m-t-0 m-b-0 color-white name t-a-c">PROJECT1</h2>
                                    <p class="direction color-white f-s-12 t-a-c">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit libero ac accumsan lobortis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-ms-6 col-xs-12 m-b-15 p-r-0">
                            <div class="handle p-r">
                                <img src="./image/project_1.jpg" alt="">
                                <div class="content">
                                    <h2 class="m-t-0 m-b-0 color-white name t-a-c">PROJECT1</h2>
                                    <p class="direction color-white f-s-12 t-a-c">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit libero ac accumsan lobortis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-ms-6 col-xs-12 m-b-15 p-r-0">
                            <div class="handle p-r">
                                <img src="./image/project_1.jpg" alt="">
                                <div class="content">
                                    <h2 class="m-t-0 m-b-0 color-white name t-a-c">PROJECT1</h2>
                                    <p class="direction color-white f-s-12 t-a-c">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit libero ac accumsan lobortis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column-5 -->
            <div class="container-column column-5">
                <div class="col-lg-12">
                    <h2>RESUME</h2>
                    <hr>
                    <div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="icon-list">
                                    <div class="icon-list-icon d-i-b v-a-m">
                                        <i class=""></i>
                                    </div>
                                    <div class="icon-list-content d-i-b v-a-m">
                                        <div class="icon-list-title">Harvard University</div>
                                        <div class="icon-list-info">2010 - 2013</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <h4>Software engineering</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit libero ac accumsan lobortis. Nam sem lacus, vulputate ut turpis vel, viverra porta ante.</p>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="icon-list">
                                    <div class="icon-list-icon d-i-b v-a-m">
                                        <i class=""></i>
                                    </div>
                                    <div class="icon-list-content d-i-b v-a-m">
                                        <div class="icon-list-title">Harvard University</div>
                                        <div class="icon-list-info">2010 - 2013</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <h4>Software engineering</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit libero ac accumsan lobortis. Nam sem lacus, vulputate ut turpis vel, viverra porta ante.</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="m-b-10 t-a-c">
                        <span class="btn">Download CV</span>
                    </div>

                </div>
            </div>
            <div class="container-column column-6">
                <div class="col-lg-12">
                    <ul class="t-a-c social">
                        <li class="d-i-b social-list">
                            <a href="#">
                                <i></i>
                            </a>
                        </li>
                    </ul>
                    <div class="m-b-20 t-a-c">
                        <span class="btn btn-primary">EMAIL ME</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../global/js/jquery-1.11.3.min.js"></script>
</html>