<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/global/style/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/global/style/ace.css">
    <link rel="stylesheet" href="/global/style/layout.css">
    <link rel="stylesheet" href="/global/style/modal.css">
    <link rel="stylesheet" href="/base/public.css">
    <link rel="stylesheet" href="./style/index.css">
</head>
<body>

    <div class="page-layout">
        <div class="header row">
            <div class="wrapper wrapper-outer">
                <div class="pull-left">
                    <img class="logo" src="http://demo.cssmoban.com/cssthemes5/cpts_1395_cfc/image/demo/logos/theme_logo.png" alt="logo">
                </div>
                <div class=""></div>
            </div>
        </div>
        <div class="wrapper row container">
            <div class="pull-left slidebar">
                <h5>个人管理</h5>
                <ul class="">
                    <li class="slidebar-list"><a href="/base/baseInfo">基本信息</a></li>
                    <li class="slidebar-list"><a href="/base/changePwd">修改密码</a></li>
                    <li class="slidebar-list active"><a href="/base/publish">发布任务</a></li>
                    <li class="slidebar-list"><a href="/base/taskList">任务列表</a></li>
                </ul>
            </div>
            <div class="pull-right main">
                <h5 class="main-header">任务列表</h5>
                <div class="main-content">
                    <div class="nav-radio" id="navRadio">

                        <div class="nav-radio-group">
                            <span class="nav-radio-item" data-type="0">我发布的</span><!--
                            --><span class="nav-radio-item" data-type="1">我接受的</span>
                        </div>
                        <div class="nav-radio-content">
                            <div class="nav-radio-list" data-type="0">
                                <div class="publish-inner">
                                    <div class="publish-list">
                                        <h5 class="task-name m-t-0">这是一个小小的任务这是一个小小的任务</h5>
                                        <div class="m-b-10">
                                            <span class="task-money">￥1000</span>
                                            <span class="task-region">长春</span>
                                            <span class="task-actor">已有<span class="color-red">11</span>人投递</span>
                                        </div>
                                        <div class="row">
                                            <span class="task-createTime pull-left">创建时间：2019-11-11 11:11:11</span>
                                            <span class="task-browse pull-right"><i class="fa fa-eye"></i> 10031</span>
                                        </div>
                                </div>
                            </div>
                            <div class="nav-radio-list" data-type="1"></div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>
<script src="/global/js/jquery-1.11.3.min.js"></script>
<script src="/global/js/wangEditor.js"></script>
<script src="/global/js/utils.js"></script>
<script src="/global/js/modal.js"></script>
<script src="./js/index.js"></script>
</html>

