<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/global/style/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/global/style/ace.css">
    <link rel="stylesheet" href="/home/style/index.css">
</head>

<body>
    <!-- loginbar -->
    <div class="loginbar">
        <div class="wrapper row">
            <div class="pull-left bar-left">
                <div class="drop-wap pull-left">
                    <div class="dropdown drop-xs">
                        <span class="flag-image d-i-b v-a-m f-s-0">
                            <img src="http://demo.cssmoban.com/cssthemes5/cpts_1395_cfc/image/demo/flags/gb.png" alt="">
                        </span>
                        <span class="flag-name d-i-b v-a-m m-r-5">English</span>
                        <span class="drop-icon d-i-b v-a-m">v</span>
                    </div>
                    <div class="droplist">

                    </div>
                </div>
                <div class="drop-wap  pull-left">
                    <div class="dropdown drop-xs">
                        <span class="flag-image d-i-b v-a-m f-s-0">
                            <img src="http://demo.cssmoban.com/cssthemes5/cpts_1395_cfc/image/demo/flags/gb.png" alt="">
                        </span>
                        <span class="flag-name d-i-b v-a-m m-r-5">English</span>
                        <span class="drop-icon d-i-b v-a-m">v</span>
                    </div>
                    <div class="droplist">

                    </div>
                </div>
            </div>
            <div class="pull-right bar-right">
                <div class="drop-wap pull-left active">
                    <div class="dropdown drop-xs">
                        <span class="flag-image d-i-b v-a-m f-s-0">
                            <img src="http://demo.cssmoban.com/cssthemes5/cpts_1395_cfc/image/demo/flags/gb.png" alt="">
                        </span>
                        <span class="flag-name d-i-b v-a-m m-r-5">English</span>
                        <span class="drop-icon d-i-b v-a-m">v</span>
                    </div>
                    <div class="droplist">

                    </div>
                </div>
                <div class="drop-wap pull-left">
                    <div class="dropdown drop-xs">
                        <span class="flag-image d-i-b v-a-m f-s-0">
                            <img src="http://demo.cssmoban.com/cssthemes5/cpts_1395_cfc/image/demo/flags/gb.png" alt="">
                        </span>
                        <span class="flag-name d-i-b v-a-m m-r-5">English</span>
                        <span class="drop-icon d-i-b v-a-m">v</span>
                    </div>
                    <div class="droplist">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header -->
    <div class="header wrapper row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <img class="logo" src="http://demo.cssmoban.com/cssthemes5/cpts_1395_cfc/image/demo/logos/theme_logo.png"
                alt="logo">
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="search-row row">
                <div class="search-class">

                </div>
                <div class="search-input">
                    <input type="text" id="search-input">
                </div>
                <div class="search-btn">

                </div>
            </div>
        </div>
    </div>
    <!-- header-bottom -->
    <div class="header-bottom">
        <div class="wrapper row">
            <div class="submenu-btn row">
                All Categories
            </div>
            <div class="m-l-5 nav">
                <ul class="row">
                    <li class="m-l-5 nav-list pull-left">
                        <div class="drop-wap">
                            <div class="dropdown">
                                English
                            </div>
                            <div class="drop-list"></div>
                        </div>
                    </li>
                    <li class="m-l-5 nav-list pull-left">Pages</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- module-1 -->
    <div class="module module-1 m-b-20">
        <div class="wrapper row">
            <div class="slidebar p-r">
                <ul>
                    <li class="slidebar-list"><a href="javascript:void(0);">.module-1 .slidebar</a></li>
                    <li class="slidebar-list"><a href="javascript:void(0);">.module-1 .slidebar</a></li>
                    <li class="slidebar-list"><a href="javascript:void(0);">.module.slidebar-list</a></li>
                    <li class="slidebar-list"><a href="javascript:void(0);">.module-1 .slidebar</a></li>
                    <li class="slidebar-list"><a href="javascript:void(0);">.module.slidebar-list</a></li>
                    <li class="slidebar-list"><a href="javascript:void(0);">.module-1 .slidebar</a></li>
                    <li class="slidebar-list"><a href="javascript:void(0);">.module.slidebar-list</a></li>
                    <li class="slidebar-list"><a href="javascript:void(0);">.module-1 .slidebar</a></li>
                    <li class="slidebar-list"><a href="javascript:void(0);">.module.slidebar-list</a></li>
                </ul>
            </div>
            <div class="p-t-10 row">
                <div class="pull-left m-r-10 m-l-10 banner">
                    <div class="banner-container">
                        <div class="banner-wrapper">
                            <div class="banner-page-list">
                                <img src="https://img00.zhaopin.cn/img_button/201810/08/02_142531685387.jpg?x-oss-process=image/resize,m_lfit,h_410,w_700"
                                    alt="">
                            </div>
                            <div class="banner-page-list">
                                <img src="https://img00.zhaopin.cn/img_button/201810/08/02_142531685387.jpg?x-oss-process=image/resize,m_lfit,h_410,w_700"
                                    alt="">
                            </div>
                            <div class="banner-page-list">
                                <img src="https://img00.zhaopin.cn/img_button/201810/08/02_142531685387.jpg?x-oss-process=image/resize,m_lfit,h_410,w_700"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-left own">
                    <div></div>
                </div>
            </div>
        </div>

    </div>
    <!-- module-2 -->
    <div class="wrapper module module-2">
        <div class="row col-wrapper">
            <div class="col-gather col-lg-12">
                <!-- 外层 -->
                <div class="bg-wrapper">
                    <!-- 标题 -->
                    <h5 class="module-title row">
                        <span class="title v-a-m">WEB前端</span>
                        <i class="more v-a-m m-l-15">
                            <a href="javascript:void(0);">更多<i class="fa fa-angle-right"></i></a>
                        </i>
                    </h5>
                    <!-- 内容容器 -->
                    <div class="row col-wrapper">
                        <!-- 每条内容 -->
                        <div class="col-gather col-md-4">
                            <div class="border-animation border-animation-tb">
                                <div class="border-animation  border-animation-lr">
                                    <div class="inner">
                                        <h5 class="task-name m-t-0">这是一个小小的任务</h5>
                                        <p class="task-account m-b-10">1,000</p>
                                        <div class="task-introduction">
                                            <span>和</span><span>街</span>这是一个小小的任务这是一个小小的任务这是一个小<span>铥</span>小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务,这是一个小小的任务
                                        </div>
                                        <div class="task-tags">
                                            <span class=""></span>
                                        </div>
                                        <div class="task-created row">
                                            <div class="pull-left">
                                                <a class="v-a-m avatar" href="javascript:void(0);"><img src="https://pic2.iqiyipic.com/image/20160307/89/fa/p_5138167_m_601_m1_128_128.jpg"
                                                        alt=""></a>
                                                <span class="v-a-m">何殿杰</span>
                                            </div>
                                            <div class="pull-right">
                                                <div class="created-date">
                                                    发布时间：2017-11-11 11:11:11
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-gather col-md-4">
                            <div class="border-animation border-animation-tb">
                                <div class="border-animation  border-animation-lr">
                                    <div class="inner">
                                        <h5 class="task-name m-t-0">这是一个小小的任务</h5>
                                        <p class="task-account m-b-10">1,000</p>
                                        <div class="task-introduction">
                                            <span>和</span><span>街</span>这是一个小小的任务这是一个小小的任务这是一个小<span>铥</span>小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务,这是一个小小的任务
                                        </div>
                                        <div class="task-tags">
                                            <span class=""></span>
                                        </div>
                                        <div class="task-created row">
                                            <div class="pull-left">
                                                <a class="v-a-m avatar" href="javascript:void(0);"><img src="https://pic2.iqiyipic.com/image/20160307/89/fa/p_5138167_m_601_m1_128_128.jpg"
                                                        alt=""></a>
                                                <span class="v-a-m">何殿杰</span>
                                            </div>
                                            <div class="pull-right">
                                                <div class="created-date">
                                                    发布时间：2017-11-11 11:11:11
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-gather col-md-4">
                            <div class="inner">
                                <h5 class="task-name m-t-0">这是一个小小的任务</h5>
                                <p class="task-account m-b-10">1,000</p>
                                <div class="task-introduction">
                                    <span>和</span><span>街</span>这是一个小小的任务这是一个小小的任务这是一个小<span>铥</span>小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务,这是一个小小的任务
                                </div>
                                <div class="task-tags">
                                    <span class=""></span>
                                </div>
                                <div class="task-created row">
                                    <div class="pull-left">
                                        <a class="v-a-m avatar" href="javascript:void(0);"><img src="https://pic2.iqiyipic.com/image/20160307/89/fa/p_5138167_m_601_m1_128_128.jpg"
                                                alt=""></a>
                                        <span class="v-a-m">何殿杰</span>
                                    </div>
                                    <div class="pull-right">
                                        <div class="created-date">
                                            发布时间：2017-11-11 11:11:11
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-gather col-md-4">
                            <div class="inner">
                                <h5 class="task-name m-t-0">这是一个小小的任务</h5>
                                <p class="task-account m-b-10">1,000</p>
                                <div class="task-introduction">
                                    <span>和</span><span>街</span>这是一个小小的任务这是一个小小的任务这是一个小<span>铥</span>小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务,这是一个小小的任务
                                </div>
                                <div class="task-tags">
                                    <span class=""></span>
                                </div>
                                <div class="task-created row">
                                    <div class="pull-left">
                                        <a class="v-a-m avatar" href="javascript:void(0);"><img src="https://pic2.iqiyipic.com/image/20160307/89/fa/p_5138167_m_601_m1_128_128.jpg"
                                                alt=""></a>
                                        <span class="v-a-m">何殿杰</span>
                                    </div>
                                    <div class="pull-right">
                                        <div class="created-date">
                                            发布时间：2017-11-11 11:11:11
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-gather col-lg-8">
                <div class="bg-wrapper">
                    <h5 class="module-title row">
                        <span class="title v-a-m">这是一个标题</span>
                        <i class="more v-a-m m-l-10">
                            <a href="javascript:void(0);">更多</a>
                            <i class="fa fa-angle-right"></i>
                        </i>
                    </h5>
                    <div class="col-wrapper row">
                        <div class="col-gather col-lg-6">
                            <div class="inner">
                                <h5 class="task-name m-t-0">这是一个小小的任务</h5>
                                <p class="task-account m-b-10">1,000</p>
                                <div class="task-introduction">
                                    <span>和</span><span>街</span>这是一个小小的任务这是一个小小的任务这是一个小<span>铥</span>小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务,这是一个小小的任务
                                </div>
                                <div class="task-tags">
                                    <span class=""></span>
                                </div>
                                <div class="task-created row">
                                    <div class="pull-left">
                                        <a class="v-a-m avatar" href="javascript:void(0);"><img src="https://pic2.iqiyipic.com/image/20160307/89/fa/p_5138167_m_601_m1_128_128.jpg"
                                                alt=""></a>
                                        <span class="v-a-m">何殿杰</span>
                                    </div>
                                    <div class="pull-right">
                                        <div class="created-date">
                                            发布时间：2017-11-11 11:11:11
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-gather col-lg-6">
                            <div class="inner">
                                <h5 class="task-name m-t-0">这是一个小小的任务</h5>
                                <p class="task-account m-b-10">1,000</p>
                                <div class="task-introduction">
                                    <span>和</span><span>街</span>这是一个小小的任务这是一个小小的任务这是一个小<span>铥</span>小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务,这是一个小小的任务
                                </div>
                                <div class="task-tags">
                                    <span class=""></span>
                                </div>
                                <div class="task-created row">
                                    <div class="pull-left">
                                        <a class="v-a-m avatar" href="javascript:void(0);"><img src="https://pic2.iqiyipic.com/image/20160307/89/fa/p_5138167_m_601_m1_128_128.jpg"
                                                alt=""></a>
                                        <span class="v-a-m">何殿杰</span>
                                    </div>
                                    <div class="pull-right">
                                        <div class="created-date">
                                            发布时间：2017-11-11 11:11:11
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-gather col-lg-4">
                <div class="bg-wrapper">
                    <h5 class="module-title row">
                        <span class="title v-a-m">这是1一个标题</span>
                        <i class="more v-a-m m-l-10">
                            <a href="javascript:void(0);">更多</a>
                            <i class="fa fa-angle-right"></i>
                        </i>
                    </h5>
                    <div class="col-wrapper row">
                        <div class="col-gather col-lg-12">
                            <div class="inner">
                                <h5 class="task-name m-t-0">这是一个小小的任务</h5>
                                <p class="task-account m-b-10">1,000</p>
                                <div class="task-introduction">
                                    <span>和</span><span>街</span>这是一个小小的任务这是一个小小的任务这是一个小<span>铥</span>小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务,这是一个小小的任务
                                </div>
                                <div class="task-tags">
                                    <span class=""></span>
                                </div>
                                <div class="task-created row">
                                    <div class="pull-left">
                                        <a class="v-a-m avatar" href="javascript:void(0);"><img src="https://pic2.iqiyipic.com/image/20160307/89/fa/p_5138167_m_601_m1_128_128.jpg"
                                                alt=""></a>
                                        <span class="v-a-m">何殿杰</span>
                                    </div>
                                    <div class="pull-right">
                                        <div class="created-date">
                                            发布时间：2017-11-11 11:11:11
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-gather col-lg-4">
                <div class="bg-wrapper">
                    <h5 class="module-title row">
                        <span class="title v-a-m">这是一个标题</span>
                        <i class="more v-a-m m-l-10">
                            <a href="javascript:void(0);">更多</a>
                            <i class="fa fa-angle-right"></i>
                        </i>
                    </h5>
                    <div class="col-wrapper row">
                        <div class="col-gather col-lg-12">
                            <div class="inner">
                                <h5 class="task-name m-t-0">这是一个小小的任务</h5>
                                <p class="task-account m-b-10">1,000</p>
                                <div class="task-introduction">
                                    <span>和</span><span>街</span>这是一个小小的任务这是一个小小的任务这是一个小<span>铥</span>小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务,这是一个小小的任务
                                </div>
                                <div class="task-tags">
                                    <span class=""></span>
                                </div>
                                <div class="task-created row">
                                    <div class="pull-left">
                                        <a class="v-a-m avatar" href="javascript:void(0);"><img src="https://pic2.iqiyipic.com/image/20160307/89/fa/p_5138167_m_601_m1_128_128.jpg"
                                                alt=""></a>
                                        <span class="v-a-m">何殿杰</span>
                                    </div>
                                    <div class="pull-right">
                                        <div class="created-date">
                                            发布时间：2017-11-11 11:11:11
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-gather col-lg-4">
                <div class="bg-wrapper">
                    <h5 class="module-title row">
                        <i class="pull-left">i</i>
                        <span class="pull-left">vcxbxcvb</span>
                        <i class="pull-right">i</i>
                    </h5>
                    <div class="col-wrapper row">
                        <div class="col-gather col-lg-12">
                            <div class="inner">
                                <h5 class="task-name m-t-0">这是一个小小的任务</h5>
                                <p class="task-account m-b-10">1,000</p>
                                <div class="task-introduction">
                                    <span>和</span><span>街</span>这是一个小小的任务这是一个小小的任务这是一个小<span>铥</span>小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务,这是一个小小的任务
                                </div>
                                <div class="task-tags">
                                    <span class=""></span>
                                </div>
                                <div class="task-created row">
                                    <div class="pull-left">
                                        <a class="v-a-m avatar" href="javascript:void(0);"><img src="https://pic2.iqiyipic.com/image/20160307/89/fa/p_5138167_m_601_m1_128_128.jpg"
                                                alt=""></a>
                                        <span class="v-a-m">何殿杰</span>
                                    </div>
                                    <div class="pull-right">
                                        <div class="created-date">
                                            发布时间：2017-11-11 11:11:11
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-gather col-lg-4">
                <div class="bg-wrapper">
                    <h5 class="module-title row">
                        <i class="pull-left">i</i>
                        <span class="pull-left">vcxbxcvb</span>
                        <i class="pull-right"></i>
                    </h5>
                    <div class="col-wrapper row">
                        <div class="col-gather col-lg-12">
                            <div class="inner">
                                <h5 class="task-name m-t-0">这是一个小小的任务</h5>
                                <p class="task-account m-b-10">1,000</p>
                                <div class="task-introduction">
                                    <span>和</span><span>街</span>这是一个小小的任务这是一个小小的任务这是一个小<span>铥</span>小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务这是一个小小的任务,这是一个小小的任务
                                </div>
                                <div class="task-tags">
                                    <span class=""></span>
                                </div>
                                <div class="task-created row">
                                    <div class="pull-left">
                                        <a class="v-a-m avatar" href="javascript:void(0);"><img src="https://pic2.iqiyipic.com/image/20160307/89/fa/p_5138167_m_601_m1_128_128.jpg"
                                                alt=""></a>
                                        <span class="v-a-m">何殿杰</span>
                                    </div>
                                    <div class="pull-right">
                                        <div class="created-date">
                                            发布时间：2017-11-11 11:11:11
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/global//js/jquery-1.11.3.min.js"></script>
<script src="/global/js/swiper.min.js"></script>
<script>
    new Swiper('.banner-container', {
        wrapperClass: 'banner-wrapper',
        slideClass: 'banner-page-list',
    });
</script>

</html>