<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/ace.css">
    <link rel="stylesheet" href="./style/index.css">
</head>

<body>
    <div class="wrapper">
        <!-- <div class="header">
            <div class="header-wrapper">

            </div>
        </div> -->
        <div class="body row">
            <div class="col-md-12">
                <div class="container">
                    <!-- 时间 -->
                    <div class="dash row">
                        <div class="pull-left diget diget-first">
                            <div class="top row">
                                <div class="pull-left date-list">1</div>
                                <div class="pull-left date-list">2</div>
                                <div class="pull-left date-list">3</div>
                            </div>
                            <div class="bottom">
                                <div class="diget-title">day</div>
                            </div>
                        </div>

                        <div class="pull-left diget">
                            <div class="top row">
                                <div class="pull-left date-list">0</div>
                                <div class="pull-left date-list">0</div>
                            </div>
                            <div class="bottom">
                                <div class="diget-title">hours</div>
                            </div>
                        </div>

                        <div class="pull-left diget">
                            <div class="top row">
                                <div class="pull-left date-list">0</div>
                                <div class="pull-left date-list">0</div>
                            </div>
                            <div class="bottom">
                                <div class="diget-title">minutes</div>
                            </div>
                        </div>

                        <div class="pull-left diget diget-last">
                            <div class="top row">
                                <div class="pull-left date-list">0</div>
                                <div class="pull-left date-list">0</div>
                            </div>
                            <div class="bottom">
                                <div class="diget-title">seconds</div>
                            </div>
                        </div>
                    </div>

                    <div class="content row">
                        <div class="col-lg-6 col-sm-12 content-left p-l-0">
                            <!-- 任务详情 -->
                            <h3 class="m-t-0 color-inherit">WE AWE ARE COMING SOON ...WE ARE COMING SOON ...ON ...</h1>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered alteration in some form, by injected humour, or randomised words
                                    which don't look even believable.</p>
                                <!-- 任务参与者 -->
                                <!-- <h4 class="color-yellow">Participant</h4>
                            <div class="row">
                                <div class="pull-left">
                                    <div class="d-i-b m-r-15 avatar-list">
                                        <span class="avatar"><a href="javascrip: void(0);"><img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1241920283,3844136355&fm=58" alt=""></a></span>
                                        <span class="avatar-name color-inherit m-t-5">毒液毒液毒液毒液</span>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <div class="d-i-b m-r-15 avatar-list">
                                        <span class="avatar"><a href="javascrip: void(0);"><img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1241920283,3844136355&fm=58" alt=""></a></span>
                                        <span class="avatar-name color-inherit m-t-5">毒液毒液毒液</span>
                                    </div>
                                </div>
                            </div> -->
                                <!-- 任务状态（任务进度） -->
                                <div class="task-progress">
                                    <div class="progress-action">
                                        <div class="progress-bar t-a-c">
                                            <span class="progress-text">10%</span>
                                        </div>
                                    </div>
                                </div>

                        </div>
                        <div class="col-lg-6 col-sm-12 content-right p-r-0">
                            <div class="chat">
                                <div class="sid row m-b-15">
                                    <div class="c-b t-a-c m-b-10"><span class="datatime color-grey f-s-xs m-b-10">2018-01-11
                                            23:23:23</span></div>
                                    <div class="left">
                                        <div class="avatar"><a href="javascript: void(0);"><img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1241920283,3844136355&fm=58"
                                                    alt=""></a></div>
                                        <div class="message ">
                                            asfdsdfsfasdf
                                        </div>
                                    </div>
                                </div>

                                <div class="sid row m-b-15">
                                    <div class="c-b t-a-c m-b-10"><span class="datatime color-grey f-s-xs m-b-10">2018-01-11
                                            23:23:23</span></div>
                                    <div class="right">
                                        <div class="avatar"><a href="javascript: void(0);"><img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1241920283,3844136355&fm=58"
                                                    alt=""></a></div>
                                        <div class="message ">
                                            asfdsdfsfasdf
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="send">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>

</html>