<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/global/style/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/global/style/ace.css">
    <link rel="stylesheet" href="/global/style/layout.css">
    <link rel="stylesheet" href="/global/style/modal.css">
    <link rel="stylesheet" href="/base/public.css">
    <link rel="stylesheet" href="/base/publish/style/index.css">
</head>
<body>

    <div class="page-layout">
        <div class="header row">
            <div class="wrapper wrapper-outer">
                <div class="pull-left">
                    <img class="logo" src="http://demo.cssmoban.com/cssthemes5/cpts_1395_cfc/image/demo/logos/theme_logo.png" alt="logo">
                </div>
                <div class=""></div>
            </div>
        </div>
        <div class="wrapper row container">
            <div class="pull-left slidebar">
                <h5>个人管理</h5>
                <ul class="">
                    <li class="slidebar-list"><a href="/base/baseInfo">基本信息</a></li>
                    <li class="slidebar-list"><a href="/base/changePwd">修改密码</a></li>
                    <li class="slidebar-list active"><a href="/base/publish">发布任务</a></li>
                    <li class="slidebar-list"><a href="javascript: void(0)">icon--grxx</a></li>
                </ul>
            </div>
            <div class="pull-right main">
                <h5 class="main-header">发布任务</h5>
                <div class="main-content">
                    <form action="javascript: void(0);">
                        <div class="form-group m-b-10">
                            <label class="label" for="">标题：</label>
                            <input type="text" class="form-control" placeholder="请填写任务的标题">
                            <span class="m-l-10 f-s-12 color-tip"><span class="fa fa-times m-r-5"></span></span>
                        </div>
                        <div class="form-group m-b-10">
                            <label class="label" for="">副标题：</label>
                            <input type="text" class="form-control" placeholder="请填写任务的副标题">
                        </div>
                        <div class="form-group m-b-10">
                            <label class="label" for="">任务类型：</label>
                            <div class="tag-select">
                                <span class="tag tag-blue">风格风格风格风格 <i class="del fa fa-times"></i></span>
                                <span class="tag tag-green">小清新小清新 <i class="del fa fa-times"></i></span>
                                <span class="tag tag-yellow">风格小清新风格 <i class="del fa fa-times"></i></span>
                                <span class="tag tag-red">小清新风格风格 <i class="del fa fa-times"></i></span>
                                <span class="tag tag-purple">小清新风格风格 <i class="del fa fa-times"></i></span>
                                <span class="tag">风格小清新风格风格 <i class="del fa fa-times"></i></span>
                            </div>
                            <a href="javascript:void(0);" class="add-tag">添加</a>
                            <span class="color-tip f-s-12"><i class="fa fa-info-circle"></i> 最多只能添加5个不同的标签</span>
                            <div class="tag-list">
                                <span class="tag-list-close"><i class="fa fa-times"></i></span>
                                <input type="text" class="tag-list-search form-control input-xs" placeholder="搜索关键词">
                                <span class="btn btn-xs btn-warning m-l-5"><i class="fa fa-refresh"></i> 重置</span>
                                <div class="tag-inner">
                                    <span class="tag tag-blue">风格风格风格风格</span>
                                    <span class="tag tag-green">小清新小清新</span>
                                    <span class="tag tag-yellow">风格小清新风格</span>
                                    <span class="tag tag-red">小清新风格风格</span>
                                    <span class="tag tag-purple">小清新风格风格</span>
                                    <span class="tag">风格小清新风格风格</span>
                                    <span class="tag tag-blue">风格风格风格风格</span>
                                    <span class="tag tag-green">小清新小清新</span>
                                    <span class="tag tag-yellow">风格小清新风格</span>
                                    <span class="tag tag-red">小清新风格风格</span>
                                    <span class="tag tag-purple">小清新风格风格</span>
                                    <span class="tag">风格小清新风格风格</span>
                                    <span class="tag tag-blue">风格风格风格风格</span>
                                    <span class="tag tag-green">小清新小清新</span>
                                    <span class="tag tag-yellow">风格小清新风格</span>
                                    <span class="tag tag-red">小清新风格风格</span>
                                    <span class="tag tag-purple">小清新风格风格</span>
                                    <span class="tag">风格小清新风格风格</span>
                                    <span class="tag tag-blue">风格风格风格风格</span>
                                    <span class="tag tag-green">小清新小清新</span>
                                    <span class="tag tag-yellow">风格小清新风格</span>
                                    <span class="tag tag-red">小清新风格风格</span>
                                    <span class="tag tag-purple">小清新风格风格</span>
                                    <span class="tag">风格小清新风格风格</span>
                                    <span class="tag tag-blue">风格风格风格风格</span>
                                    <span class="tag tag-green">小清新小清新</span>
                                    <span class="tag tag-yellow">风格小清新风格</span>
                                    <span class="tag tag-red">小清新风格风格</span>
                                    <span class="tag tag-purple">小清新风格风格</span>
                                    <span class="tag">风格小清新风格风格</span>
                                    <span class="tag tag-blue">风格风格风格风格</span>
                                    <span class="tag tag-green">小清新小清新</span>
                                    <span class="tag tag-yellow">风格小清新风格</span>
                                    <span class="tag tag-red">小清新风格风格</span>
                                    <span class="tag tag-purple">小清新风格风格</span>
                                    <span class="tag">风格小清新风格风格</span>
                                    <span class="tag tag-blue">风格风格风格风格</span>
                                    <span class="tag tag-green">小清新小清新</span>
                                    <span class="tag tag-yellow">风格小清新风格</span>
                                    <span class="tag tag-red">小清新风格风格</span>
                                    <span class="tag tag-purple">小清新风格风格</span>
                                    <span class="tag">风格小清新风格风格</span>
                                    <span class="tag tag-blue">风格风格风格风格</span>
                                    <span class="tag tag-green">小清新小清新</span>
                                    <span class="tag tag-yellow">风格小清新风格</span>
                                    <span class="tag tag-red">小清新风格风格</span>
                                    <span class="tag tag-purple">小清新风格风格</span>
                                    <span class="tag">风格小清新风格风格</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-b-10">
                            <label class="label" for="">内容概述：</label>
                            <textarea name="" cols="30" rows="5" class="form-control" placeholder="请填写内容概述"></textarea>
                            <span class="color-tip f-s-12 d-i-b v-a-t m-l-5"><i class="fa fa-info-circle"></i> 内容概述最多显示20字,多余部分会以省略号显示</span>
                        </div>
                        <div class="form-group m-b-10">
                            <label class="label" for="">上传附件：</label>
                            <div class="file-inner row">
                                <div class="file-upload">
                                    <input type="file" name="upload">
                                </div>
                            </div>
                            <span class="color-tip f-s-12 d-i-b v-a-t m-l-5"><i class="fa fa-info-circle"></i> 内容概述最多显示20字，用来显示简介</span>
                        </div>
                        <div class="form-group m-b-10">
                            <label class="label" for="">任务内容：</label>
                            <div name="" id="summernote-task" style="width: 80%"></div>
                        </div>
                        <div class="form-group m-b-10">
                            <div class="row">
                                <span class="pull-left btn btn-large btn-primary form-submit"><i class="fa fa-check-circle"></i> 保存</span>
                                <span class="pull-left btn btn-large btn-warning form-refresh"><i class="fa fa-refresh"></i> 重置</span>
                            </div>
                        </div>
                    </form>        
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>
<script src="/global/js/jquery-1.11.3.min.js"></script>
<script src="/global/js/wangEditor.js"></script>
<script src="/global/js/utils.js"></script>
<script src="/global/js/modal.js"></script>
<script src="./js/index.js"></script>
</html>